<div class="container-fluid">
  <header>
    <nav class="navbar navbar-dark bg-dark">   {{!-- could be light --}}
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Company Name</a>
      </div>
    </nav>
  </header>
</div>